<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TMoSRandomizerTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TMoSRandomizerTracker.Properties.Settings>
            <setting name="got_faruk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_kebabu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_gunmeca" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_supica" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_epin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_pukin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_mustafa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_gubibi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_rainy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="got_hassan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="armor_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rod_level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sword_level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="commentary_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ch1_tracker1_state" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="marker_default" serializeAs="String">
                <value>0</value>
            </setting>
        </TMoSRandomizerTracker.Properties.Settings>
    </userSettings>
</configuration>